body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://get.pxhere.com/photo/outdoor-horizon-drop-light-sky-sunset-night-sunlight-morning-rain-window-dawn-dark-dusk-evening-reflection-weather-darkness-droplets-macro-photography-computer-wallpaper-615220.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
